<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com -->
<!--  Last Published: Sat Apr 29 2017 00:37:23 GMT+0000 (UTC)  -->
<head>
  <meta charset="utf-8">
  <title>Ben B&#39;s Supercool Project</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
</head>
<body class="body show-page1">

    <div class="w-container">
      <h1 class="farmer-name">Farmer Joe</h1>
      <ul class="unordered-list">
        <li class="list-item">
          <div class="row-2 w-row">
            <div class="column-4 w-col w-col-6">

               <%= image_tag "pexels_photo_128926-p-1080", class: "image-3"  %>
            </div>
            <div class="column-3 w-col w-col-6">
              <p class="paragraph-2">About:
                <br>
                <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
          </div>
        </li>
        <li>
          <p class="paragraph-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
        </li>
        <li class="list-item-2">
          <div class="row-3 w-row">
            <div class="column-5 w-col w-col-6">
              <p class="paragraph-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
            <div class="column-6 w-col w-col-6">

            
            <%= image_tag "24143176822_813c41bc12_b-p-500", class: "image-4"  %>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <br>



</body>
</html>
