

<body class=" show-page1">
    <div class="w-container">
      <h1 class="farmer-name">Farmer Joe</h1>
      <ul class="unordered-list">
        <li class="list-item">
          <div class="row-2 w-row">
            <div class="column-4 w-col w-col-6">

               
            </div>
            <div class="column-3 w-col w-col-6">
              <p class="paragraph-2">About:
                <br>
                <br>My name is Joe Patterson, and I’m an organic produce farmer. I have 20 years experience working as a farmer and really love what I do. I also have a bachelor’s degree in agriculture from nc state so I'm fully invested in this farmer gig.</p>
            </div>
          </div>
        </li>
        <li style="list-style-type: none">
          <p class="paragraph-3">Crop Info 
            <br>
            <br>All my crops include 0 pesticides, and are non-GMO. All of the produce is made in a greenhouse on my 10 acre property.
            <br></p>
            <br>
        </li>
        <li class="list-item-2" style="list-style-type: none">
          <div class="row-3 w-row">
            <div class="column-5 w-col w-col-6">
              <p class="paragraph-4">About the farm: <br><br>I manage the farm with my 2 kids and 10 workers. We typically harvest the crops once a month.</p>
            </div>
            <div class="column-6 w-col w-col-6">

            
            
            </div>
          </div>
        </li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <br>



</body>

