<div class="crop-fields">
</div>
<div class="my-fields">
	<h1>Editing Crop</h1>

	<%= render 'form', crop: @crop %>

	<%= link_to 'Show', @crop, class: "link-color" %> |
	<%= link_to 'Back', static_dashboard_path, class: "link-color" %>
</div>

