<div class="containerFarmer"> </div>

	<div class="container-listings">
		<div id="header-listings">
			<b><div id="displayInListing"> New Crop </div></b>
		</div>
		<br>
		

		<div class="my-listings">
				<%= render 'form', crop: @crop %>
			<%= link_to 'Back', static_dashboard_path %>
		</div>
	</div>
</div>

