

<div class = "containerDash">


	
	<div class="boxes-set-position centered">
		<% @cropsAll.each_slice(2) do |spliced_crops| %>
			<div class="row center-block">	
				<div class="col-xs-1"></div>

						<% spliced_crops.each do |f| %>
	
							<div class="box-of-produce col-md-5">
									<h1>Crop: <%= f.name %> </h1><br>
									<h3>Amount: <%= f.amount %> </h3><br>
									<h3>Price per crop: <%= f.cost %> </h3><br>
							</div>
				
					<% end %>
					<div class="col-xs-1"></div>

			</div>			
		<% end %>
	</div>
</div>

