

<div class = "containerDash">
	<div class="boxes-set-position centered">
		<% @cropsAll.each_slice(2) do |spliced_crops| %> 
			<div class="row center-block">	
				<div class="col-xs-1"></div>
				<div class="col-xs-1"></div>
				<div class="col-xs-1"></div>

						<% spliced_crops.each do |f| %>
	
							<div class="box-of-produce col-md-3">
									<h1><%= f.name %> </h1>
									<h3>Amount: <%= f.amount %> </h3>
									<h3>Price per crop: <%= f.cost %> </h3>
									
									<button type="button" class="btn btn-danger btn-lg" id="btn-inline1"> <span id="btn-font-smaller">More About the Farmer</span></button>

									<button type="button" class="btn btn-success btn-lg" id="btn-inline2" data-toggle="modal" data-target="#myModal">Buy</button>
							</div>

					
				
					<% end %>

					<div class="col-xs-1"></div>
					<div class="col-xs-1"></div>
					<div class="col-xs-1"></div>

			</div>			
		<% end %>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Success</h4>
      </div>
      <div class="modal-body">
       You've purchased the crop. We'll update you when it's sent to the food bank.
      </div>
      <div class="modal-footer">
     
        
      </div>
    </div>
  </div>
</div>

