<div class="header-content">
	
	<div class="sign-up-box">
		<h1> 20-30% of produce is thrown out </h1>
		<h2>Help reduce waste. Buy up typically thrown out produce for people in need. Get tax benefits. Win. Win. </h2>
		<form>  
		  <input type="text" name="email" value="Email">
		  <button type="button"> Get Started as a Donator </button> 
		</form>
	</div>

</div>
<div class="middle-content">


</div>

The Process
<img src="">
