
<body class="body ">
  <div class="w-container">

	  <div class="container-listings">
  	  <div class="my-listings">

				<% @cropsOrdered.each do |f| %>
					<%= f.name %>
					<br>
					Amount: $<%= f.total %>
					<br>
					<br>

				<% end %>
			</div>
		</div>
	</div>
</body>
