
<body class="body ">
  <div class="w-container">

	  <div class="container-listings">
  	  <div class="my-listings">

		
				<% @cropsOrdered.each do |f| %>
						<h2><%= f.name %><h2>

						<br>
						<h2>Amount: $<%= f.total %></h2>
						<br>
						<br>

				<% end %>
				
			</div>
		</div>
	</div>
</body>
