
.containerDash{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url('http://gdurl.com/rAuO1');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 128vh;
  width: 100vw;
  margin-top: -300px;
  position: absolute;
  z-index: -1;
}
.row{
  margin: auto;
}

.box-of-produce{
    display: inline-block;
		background-color: white;
		height: 250px;

    margin: 10px;

    padding: 6px;
    h1{
      margin-bottom: 10px;
    }

    h3{
      font-size: 22px;
      margin: 0px;
    }
	}
  .boxes-set-position{
    margin-top: 300px;
  }


  //farmer
  .containerFarmer{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url('http://gdurl.com/kecN');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 128vh;
  width: 100vw;
  margin-top: -300px;
  position: absolute;
  z-index: -2;
}

.my-listings{
  margin: auto;
}
.container-listings{
  margin: auto;
  background-color: white;
  width: 40%;
  color: black;
  padding: 20px;


  border-radius: 2px;
  


}
.container-listings h1{

  margin-left: -6px;

}

.listing{
  border-bottom: 1px solid #ccc

}

.listing-right{
  padding-right: 5px;
  display: inline-block;

}

.my-listings h2{
  font-size: 16px;
  margin-top: -3px;
  margin-bottom: -5px;
}

#btn-inline1{
  display: inline-block;
  position: absolute;
  width: 50%;
  left:    0;
  bottom:   0;
  border-radius: 0;

}
#btn-inline2{
  display: inline-block;
  position: absolute;
  width: 50%;
  right:    0;
  bottom:   0;
  border-radius: 0;

}
#btn-font-smaller{
  font-size: 1px;
}

#displayInListing{
  display: inline-block;
  font-size: 27px;
  margin-left: -5px;


}
#displayInCreateListing{
  display: inline-block;
  float: right;

}

#header-listings{
  border-bottom: 1px solid #ccc;  

}


