$div-height-header: 150vh;

.header-content{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url('http://gdurl.com/QAPf');
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: repeat-n;
  height: unquote("-webkit-calc(100vh + 100px)");
  width: 100vw;


  margin-top: -170px;

  .sign-up-box{
		text-align: center;
		background-color: rgba(54,54,53, .6);
		margin: auto;
		position: relative;
		top: 30%;

	  border-radius: 5px;
	  color: #DCDDCD;
	  padding: 37px;
	  width: 700px;
	}
	.sign-up-box h1{
		font-size: 40px;
	}
	.sign-up-box h2{
		font-size: 22px;
	}

	.sign-up-box form input {
		background-color: rgba(0,0,0, .1);
		width: 60%;
		border-radius: 2px;
		border-color: none;
		padding: 4px;

		.btn-color-white{
			color: #fff;
		}
			
			a:visited{
				color: #fff;
			}
		

		.btn-right{
			width: 10%;
		}
		
	}
	.sign-up-box form button {
		margin-top: 10px;
		background-color: rgba(0,0,0, .1);
		border-radius: 2px;


	}


}





.middle-content{
	background: url('http://gdurl.com/RWp6');
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 591px;
  position: relative;
}

.middle-content h1{
		font-size: 22px;
		color: #DCDDCD;
		text-align: center;
		text-shadow: 2px 2px #000000;
		

}
